.details {
  display: flex;
  flex-direction: column;
  width: min(700px, 50dvw);
  gap: 2rem;
}
.details__heading {
  color: black;
}

.details__heading span {
  color: white;
}

.details__button {
  width: 35%;
}
