.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5dvh;
  padding: 1rem;
  background-color: rgb(48, 48, 48);
  color: white;
}

.header p {
  margin: 0;
}

.header__logo {
  color: #ff7b7b;
  cursor: pointer;
}

.header__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header__group p {
  cursor: pointer;
}

.header__group p:hover {
  color: #a37f7f;
}
